@import url("aside.css");
@import url("tablesorter.css");
@import url("materialize-src/sass/materialize.css");
@import url("materialize-src/sass/materialize.css.map");


@font-face {
    font-family: 'Shantell Sans';
    src: url('../fonts/ShantellSans-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf') format('ttf');
}

html,
button,
input,
select,
textarea {
    font-family: 'Shantell Sans', cursive;
}

.aside * {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}

.container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 150px 1fr 3.5em;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
}

.header {
    grid-area: header;
    background: url("../img/checkliste.jpg") center 260px;
    /*background: url(img/auto.jpg) no-repeat center center;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main {
    grid-area: main;
}

.aside {
    grid-area: aside;
}

.footer {
    grid-area: footer;
}

.color {
    width: 50px;
    height: 20px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
}

td,
th {
    border-radius: 0px;
}


.pointer {
    cursor: pointer;
}

.cell {
    cursor: cell;
}

.cookie-banner {
    background-color: #4f4f4f;
    border-top: 1px solid #ccc;
    bottom: 0;
    font-size: 14px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    padding: 10px;
    color: #fff;
}